Repository miniluz/TFG: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy-per-crate, typstyle

.pre-commit-config.yaml:

# Pre-commit configuration for TFG repository
# https://pre-commit.com/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: clippy-per-crate
        name: clippy (per crate)
        language: system
        entry: bash -c 'crates=$(for f in "$@"; do d=$(dirname "$f"); while [ "$d" != "." ] && [ "$d" != "/" ]; do if [ -f "$d/Cargo.toml" ]; then echo "$d"; break; fi; d=$(dirname "$d"); done; done | sort -u); for crate in $crates; do echo "Running clippy in $crate"; (cd "$crate" && cargo clippy -- -D warnings) || exit 1; done' --
        files: \.rs$
        pass_filenames: true
      - id: typstyle
        name: typstyle
        language: system
        entry: typstyle --inplace
        files: \.typ$
        pass_filenames: true

Add config readers to runner
  .gitignore
  sparklet/runner/src/config_task.rs
  sparklet/runner/src/hardware.rs
  sparklet/runner/src/input_task.rs
  sparklet/runner/src/main.rs
Due: clippy-per-crate

Use a Typst wrapper
  flake.lock
  flake.nix
  thesis/main.typ
Due: typstyle

Apply style to Typst
  .cspell.json
  flake.nix
  project-words.txt
  thesis/bibliografía.bib
  thesis/main.typ
  thesis/sections/01_introducción.typ
  thesis/sections/02_Gestión.typ
  thesis/sections/03_Análisis.typ
  thesis/sections/05_Implementación.typ
  thesis/sections/ejemplos_borrame.typ
  thesis/sections/ejemplos_bórrame.typ
Due: typstyle

Thesis init
  thesis/main.typ
  thesis/sections/01_Introducción.typ
  thesis/sections/02_Gestión.typ
  thesis/sections/02_Planificación.typ
  thesis/sections/03_Análisis.typ
  thesis/sections/03_Metodología.typ
  thesis/sections/04_Análisis.typ
  thesis/sections/04_Diseño.typ
  thesis/sections/05_Diseño.typ
  thesis/sections/05_Implementación.typ
  thesis/sections/06_Implementación.typ
  thesis/sections/06_Pruebas.typ
  thesis/sections/07_Manuales.typ
  thesis/sections/08_Conclusiones.typ
Due: typstyle

First pass on Methodology section
  .github/workflows/spell.yml
  flake.nix
  project-words.txt
  sparklet/justfile
  thesis/.cspell.json
  thesis/bibliografía.bib
  thesis/justfile
  thesis/main.typ
  thesis/project-words.txt
  thesis/sections/03_Metodología.typ
Due: typstyle

Redacción de análisis
  thesis/project-words.txt
  thesis/sections/01_Introducción.typ
  thesis/sections/04_Análisis.typ
  thesis/utils/requirements.typ
Due: typstyle

Make config be transmitted over triple buffer instead of signal
  sparklet/Cargo.lock
  sparklet/config/Cargo.toml
  sparklet/config/src/lib.rs
  sparklet/config/src/test.rs
  sparklet/runner/Cargo.toml
  sparklet/runner/src/config_task.rs
  sparklet/runner/src/main.rs
  sparklet/runner/src/synth_engine_task.rs
  sparklet/synth-engine/Cargo.toml
  sparklet/synth-engine/examples/config_oscillation.rs
  sparklet/synth-engine/examples/midi_render.rs
  sparklet/synth-engine/src/capacitor/mod.rs
  sparklet/synth-engine/src/generator/mod.rs
  sparklet/synth-engine/src/generator/test.rs
  sparklet/synth-engine/src/lib.rs
  sparklet/synth-engine/src/octave_filter/mod.rs
  sparklet/synth-engine/src/voice_bank/mod.rs
Due: clippy-per-crate

Fix CI
  flake.nix
Due: none

Primera iteración de la sección de diseño
  flake.nix
  thesis/figures/CMSIS Interface.drawio.pdf
  thesis/figures/Diagrama de la arquitectura.drawio.pdf
  thesis/project-words.txt
  thesis/sections/05_Diseño.typ
Due: typstyle

Work on analysis section, ADSR math
  flake.nix
  thesis/bibliografía.bib
  thesis/main.typ
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ASDR.typ
  thesis/sections/09_Anexos.typ
  thesis/sections/09_anexos/09_01_derivación_matemática_ASDR.typ
  thesis/tables/tabla_errores_cents.typ
Due: typstyle

Fix spelling
  thesis/justfile
  thesis/project-words.txt
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/09_Anexos.typ
  thesis/sections/09_anexos/09_01_derivación_matemática_ADSR.typ
Due: typstyle

Document ADSR progress
  sparklet/synth-engine/src/adsr/mod.rs
  thesis/sections/04_Análisis.typ
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_00_Configuración.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
Due: clippy-per-crate, typstyle

Redactar banco de voces, generador, MIDI
  sparklet/synth-engine/src/generator/mod.rs
  sparklet/synth-engine/src/octave_filter/mod.rs
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_04_Generador.typ
  thesis/sections/06_implementación/06_05_MIDI.typ
Due: clippy-per-crate, typstyle

Progreso en la redacción
  sparklet/config/src/lib.rs
  sparklet/midi/src/lib.rs
  sparklet/runner/src/hardware.rs
  sparklet/runner/src/input_task.rs
  sparklet/runner/src/main.rs
  sparklet/runner/src/synth_engine_task.rs
  sparklet/synth-engine/src/lib.rs
  thesis/sections/05_Diseño.typ
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_00_Configuración.typ
  thesis/sections/06_implementación/06_04_Generador.typ
  thesis/sections/06_implementación/06_05_MIDI.typ
  thesis/sections/06_implementación/06_06_Ecualización.typ
  thesis/sections/06_implementación/06_07_Motor_de_síntesis.typ
  thesis/sections/06_implementación/06_08_Configuración.typ
  thesis/sections/06_implementación/06_09_Ejecutor.typ
  thesis/sections/06_implementación/06_10_CMSIS.typ
Due: clippy-per-crate, typstyle

Small fixes
  flake.nix
  sparklet/runner/Cargo.toml
  sparklet/runner/src/synth_engine_task.rs
  sparklet/synth-engine/src/voice_bank/mod.rs
Due: clippy-per-crate

MIDI UART and USB
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_06_Ecualización.typ
  thesis/sections/06_implementación/06_08_Configuración.typ
  thesis/sections/06_implementación/06_11_MIDI_UART.typ
  thesis/sections/06_implementación/06_12_USB.typ
Due: typstyle

Configurability
  sparklet/Cargo.lock
  sparklet/config/src/lib.rs
  sparklet/justfile
  sparklet/runner/.gitignore
  sparklet/runner/Cargo.toml
  sparklet/runner/Config.example.toml
  sparklet/runner/build.rs
  sparklet/runner/justfile
  sparklet/runner/run-with-flags.sh
  sparklet/runner/src/config.rs
  sparklet/runner/src/config_task.rs
  sparklet/runner/src/hardware.rs
  sparklet/runner/src/input_task.rs
  sparklet/runner/src/main.rs
  sparklet/runner/src/synth_engine_task.rs
Due: clippy-per-crate

Configurability
  sparklet/config/src/lib.rs
  sparklet/config/src/test.rs
  sparklet/runner/src/config_task.rs
  sparklet/runner/src/hardware.rs
  sparklet/runner/src/hardware_abstractions.rs
  sparklet/runner/src/input_task.rs
  sparklet/runner/src/main.rs
Due: clippy-per-crate

Refactor config into own files
  sparklet/runner/src/hardware/abstractions.rs
  sparklet/runner/src/hardware/input_task.rs
  sparklet/runner/src/hardware/mod.rs
  sparklet/runner/src/main.rs
Due: clippy-per-crate

Refactor
  sparklet/runner/src/hardware/input_hardware.rs
  sparklet/runner/src/hardware/input_task.rs
  sparklet/runner/src/hardware/mod.rs
Due: clippy-per-crate

Refactor hardware into hardware folder, make it per-device
  sparklet/runner/Cargo.toml
  sparklet/runner/run-with-flags.sh
  sparklet/runner/src/audio_task/audio_usb.rs
  sparklet/runner/src/config/mod.rs
  sparklet/runner/src/config/task.rs
  sparklet/runner/src/config_task.rs
  sparklet/runner/src/hardware/audio_usb/mod.rs
  sparklet/runner/src/hardware/audio_usb/stm32h723zg.rs
  sparklet/runner/src/hardware/config/mod.rs
  sparklet/runner/src/hardware/config/stm32h723zg.rs
  sparklet/runner/src/hardware/input_hardware.rs
  sparklet/runner/src/hardware/midi_din/mod.rs
  sparklet/runner/src/hardware/midi_din/stm32h723zg.rs
  sparklet/runner/src/hardware/midi_usb/mod.rs
  sparklet/runner/src/hardware/midi_usb/stm32h723zg.rs
  sparklet/runner/src/hardware/mod.rs
  sparklet/runner/src/main.rs
  sparklet/runner/src/midi_task/midi_din.rs
  sparklet/runner/src/midi_task/midi_usb.rs
Due: clippy-per-crate

Add configurability for the config task
  sparklet/runner/Config.example.toml
  sparklet/runner/build.rs
  sparklet/runner/src/config/task.rs
Due: clippy-per-crate

Readd button descriptions
  sparklet/runner/src/hardware/config/stm32h723zg.rs
Due: clippy-per-crate

Disallow configuring table generators
  sparklet/justfile
  sparklet/synth-engine/examples/config_oscillation.rs
  sparklet/synth-engine/examples/midi_render.rs
  sparklet/synth-engine/src/capacitor/mod.rs
  sparklet/table_generators/src/bin/generate_adsr_coefficient_tables.rs
  sparklet/table_generators/src/bin/generate_octave_filter_coefficients.rs
  sparklet/table_generators/src/bin/generate_phase_increment_table.rs
  sparklet/table_generators/src/bin/generate_saw_wavetable.rs
  sparklet/table_generators/src/bin/generate_sine_wavetable.rs
  sparklet/table_generators/src/bin/generate_square_wavetable.rs
  sparklet/table_generators/src/bin/generate_sustain_amplitude_table.rs
  sparklet/table_generators/src/bin/generate_triangle_wavetable.rs
Due: clippy-per-crate

Fix CI
  .github/workflows/format.yml
Due: none

Remove needless parametrization
  sparklet/table_generators/src/bin/generate_adsr_coefficient_tables.rs
Due: clippy-per-crate

Move generation of new frame until after current frame is sent
  sparklet/runner/src/audio_task/audio_usb.rs
Due: clippy-per-crate

Update db_linear_amplitude_table generator name
  sparklet/justfile
  sparklet/table_generators/Cargo.toml
  sparklet/table_generators/src/bin/generate_db_linear_amplitude_table.rs
Due: clippy-per-crate

Make amplitude and sustain have linear amplitudes instead of linear volumes
  sparklet/runner/src/audio_task/audio_usb.rs
  sparklet/synth-engine/Cargo.toml
  sparklet/synth-engine/src/adsr/mod.rs
  sparklet/synth-engine/src/db_linear_amplitude_table.rs
  sparklet/synth-engine/src/generator/test.rs
  sparklet/synth-engine/src/lib.rs
  sparklet/synth-engine/src/octave_filter/mod.rs
Due: clippy-per-crate

Fix Lix flake-compat version
  flake.lock
  flake.nix
Due: none

First revision of the thesis
  sparklet/runner/Config.example.toml
  sparklet/runner/src/config/task.rs
  sparklet/synth-engine/src/voice_bank/mod.rs
  sparklet/synth-engine/src/voice_bank/test.rs
  thesis/code/Config.toml
  thesis/figures/Diagrama de la arquitectura.drawio.pdf
  thesis/project-words.txt
  thesis/sections/03_Metodología.typ
  thesis/sections/04_Análisis.typ
  thesis/sections/05_Diseño.typ
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_04_Generador.typ
  thesis/sections/06_implementación/06_05_MIDI.typ
  thesis/sections/06_implementación/06_06_Ecualización.typ
  thesis/sections/06_implementación/06_08_Configuración.typ
  thesis/sections/06_implementación/06_09_Ejecutor.typ
  thesis/sections/06_implementación/06_10_CMSIS.typ
Due: clippy-per-crate, typstyle

Add citation and code fragments to the analysis section
  thesis/bibliografía.bib
  thesis/project-words.txt
  thesis/sections/03_Metodología.typ
  thesis/sections/04_Análisis.typ
  thesis/sections/09_anexos/09_01_derivación_matemática_ADSR.typ
Due: typstyle

Revisión de la documenación
  Planificación y riesgo.md
  thesis/bibliografía.bib
  thesis/project-words.txt
  thesis/sections/04_Análisis.typ
  thesis/sections/05_Diseño.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_04_Generador.typ
  thesis/sections/06_implementación/06_05_MIDI.typ
  thesis/sections/06_implementación/06_06_Ecualización.typ
  thesis/sections/06_implementación/06_07_Motor_de_síntesis.typ
  thesis/sections/06_implementación/06_08_Configuración.typ
  thesis/sections/06_implementación/06_10_CMSIS.typ
  thesis/sections/06_implementación/06_11_MIDI_UART.typ
  thesis/sections/06_implementación/06_12_USB.typ
  thesis/tables/tabla_errores_cents.typ
Due: typstyle

Progreso en la memoria
  thesis/bibliografía.bib
  thesis/code/voice_steal_algorithm.rs
  thesis/project-words.txt
  thesis/sections/03_Metodología.typ
  thesis/sections/04_Análisis.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_05_MIDI.typ
  thesis/sections/06_implementación/06_06_Ecualización.typ
  thesis/sections/06_implementación/06_07_Motor_de_síntesis.typ
  thesis/sections/06_implementación/06_08_Configuración.typ
  thesis/sections/06_implementación/06_09_Ejecutor.typ
  thesis/sections/06_implementación/06_10_CMSIS.typ
  thesis/sections/ejemplos_bórrame.typ
Due: clippy-per-crate, typstyle

Progreso en la memoria
  thesis/bibliografía.bib
  thesis/project-words.txt
  thesis/sections/04_Análisis.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_04_Generador.typ
  thesis/sections/06_implementación/06_06_Ecualización.typ
  thesis/sections/06_implementación/06_07_Motor_de_síntesis.typ
Due: typstyle

Progreso en la memoria
  sparklet/synth-engine/src/generator/mod.rs
  sparklet/synth-engine/src/lib.rs
  sparklet/synth-engine/src/voice_bank/mod.rs
  sparklet/synth-engine/src/voice_bank/test.rs
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_04_Generador.typ
  thesis/sections/06_implementación/06_05_MIDI.typ
  thesis/sections/06_implementación/06_07_Motor_de_síntesis.typ
  thesis/sections/06_implementación/06_11_MIDI_UART.typ
  thesis/sections/06_implementación/06_11_USB.typ
Due: clippy-per-crate, typstyle

Iterate on document
  .pre-commit-config.yaml
  flake.nix
  sparklet/synth-engine/src/adsr/config_table.rs
  sparklet/table_generators/src/bin/generate_adsr_coefficient_tables.rs
  thesis/code/Config.toml
  thesis/figures/Banco de voces.pdf
  thesis/figures/Diagrama de la arquitectura.drawio.pdf
  thesis/figures/adsr.typ
  thesis/figures/adsr_amp_lineal.png
  thesis/figures/adsr_condensador.png
  thesis/figures/adsr_vol_lineal.png
  thesis/figures/octave_filter_response_q15.png
  thesis/justfile
  thesis/scripts/__pycache__/styles_config.cpython-313.pyc
  thesis/scripts/adsr_diagrams.py
  thesis/scripts/filter_bank_diagrams.py
  thesis/scripts/styles_config.py
  thesis/sections/04_Análisis.typ
  thesis/sections/05_Diseño.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_06_Ecualización.typ
  thesis/sections/06_implementación/06_07_Motor_de_síntesis.typ
  thesis/sections/06_implementación/06_08_Configuración.typ
  thesis/sections/06_implementación/06_10_CMSIS.typ
  thesis/sections/06_implementación/06_11_USB.typ
  thesis/sections/09_anexos/09_01_derivación_matemática_ADSR.typ
Due: clippy-per-crate, typstyle

Iterar la documentación
  thesis/bibliografía.bib
  thesis/project-words.txt
  thesis/sections/04_Análisis.typ
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_04_Generador.typ
  thesis/sections/06_implementación/06_05_Ecualización.typ
  thesis/sections/06_implementación/06_06_Motor_de_síntesis.typ
  thesis/sections/06_implementación/06_07_Configuración.typ
  thesis/sections/06_implementación/06_07_Motor_de_síntesis.typ
  thesis/sections/06_implementación/06_08_Ejecutor.typ
  thesis/sections/06_implementación/06_09_MIDI.typ
  thesis/sections/06_implementación/06_10_USB.typ
  thesis/sections/06_implementación/06_11_CMSIS.typ
  thesis/sections/06_implementación/06_11_USB.typ
Due: typstyle

Renombrar CMSIS a operaciones DSP
  thesis/sections/04_Análisis.typ
  thesis/sections/06_Implementación.typ
  thesis/sections/06_implementación/06_01_Oscilador.typ
  thesis/sections/06_implementación/06_02_ADSR.typ
  thesis/sections/06_implementación/06_03_Banco_de_voces.typ
  thesis/sections/06_implementación/06_05_Ecualización.typ
  thesis/sections/06_implementación/06_07_Configuración.typ
  thesis/sections/06_implementación/06_09_MIDI.typ
  thesis/sections/06_implementación/06_11_CMSIS.typ
  thesis/sections/06_implementación/06_11_Operaciones_DSP.typ
Due: typstyle

Añadir diagramas
  :w
  thesis/figures/Ecualizador.pdf
  thesis/figures/MIDI.pdf
  thesis/figures/wavetable.typ
  thesis/project-words.txt
  thesis/sections/06_implementación/06_05_Ecualización.typ
  thesis/sections/06_implementación/06_08_Ejecutor.typ
  thesis/sections/06_implementación/06_09_MIDI.typ
Due: typstyle
